@import "shared";
@import "nav";
@import "gallery";
@import "social";
@import "main";
@font-face {
  font-family: "Circular";
  src: url("./../fonts/Circular.otf") format("opentype");
}

body {
  margin: 0;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  font-family: Circular, Helvetica;
}

* {
  box-sizing: border-box;
}

