@import "shared";

.image {
  .hide-img {
    display: none;
  }

  @media screen and (max-width: $mobile-break) {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 85vw;
    }

    .aspect {
      &--23 {
        height: $width * 3/2;
        width: $width;
      }

      &--32 {
        height: $width * 2/3;
        width: $width;
      }

      &--67 {
        height: $width * 7/6;
        width: $width;
      }

      &--76 {
        height: $width * 6/7;
        width: $width;
      }

      &--34 {
        height: $width * 4/3;
        width: $width;
      }

      &--43 {
        height: $width * 3/4;
        width: $width;
      }

      &--66 {
        height: $width;
        width: $width;
      }
    }
  }

  @media screen and (min-width: $mobile-break) {
    margin-right: 15px;
    height: 100%;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }

    img {
      height: 100%;
    }

    .aspect {
      &--23 {
        height: $height;
        width: $height * 2/3;
      }

      &--32 {
        height: $height;
        width: $height * 3/2;
      }

      &--67 {
        height: $height;
        width: $height * 6/7;
      }

      &--76 {
        height: $height;
        width: $height * 7/6;
      }

      &--34 {
        height: $height;
        width: $height * 3/4;
      }

      &--43 {
        height: $height;
        width: $height * 4/3;
      }

      &--66 {
        height: $height;
        width: $height;
      }
    }
  }

  .image-loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
