@import "shared";

.social {
  padding: 25px 40px;

  @media screen and (max-width: $mobile-break) {
    text-align: center;
    padding-top: 0;
  }

  @media screen and (min-width: $mobile-break) {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }

  ul {
    padding: 0;

    &:hover {
      li {
        a {
          opacity: 0.5;
          @include transition(0.12s);
        }
      }
    }

    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $black;
        @include transition(0.12s);

        &:hover {
          opacity: 1;
          @include transition(0.12s);
        }
      }
    }
  }
}
