@import "variables";
@font-face(Futura, fonts/Futura);
@font-face {
  font-family: "Circular";
  src: url("../../fonts/Circular.otf") format("opentype");
}

.App {
  font-family: Circular, Futura, Helvetica;
  min-height: 100vh;
  min-width: 100vw;

  .navbar {
    background: #fff;
    padding: 20px 40px;
    line-height: 20px;

    h1 {
      color: #333;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
      color: #333;
    }

    ul {
      padding: 0;
      line-height: 16px;
      letter-spacing: 1px;

      li {
        list-style-type: none;

        .active {
          color: #a8a8a8;
          cursor: default;
        }

        a {
          font-size: 12px;
          font-weight: 300;

          &:hover {
            color: #a8a8a8;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile-break) {
    .navbar {
      padding: 20px 40px;
    }
  }

  @media screen and (min-width: $mobile-break) {
    .navbar {
      position: fixed;
      bottom: 10vh;
      left: 10vw;
      width: 200px;
      z-index: 1;
    }
  }

}

