$mobile-break: 768px;

::-webkit-scrollbar {
  display: none;
}

.gallery {
  @media screen and (max-width: $mobile-break) {
    .gallery-container {
      padding: 20px;
      text-align: center;

      img {
        width: 90vw;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media screen and (min-width: $mobile-break) {
    position: absolute;
    top: 15vh;
    height: 80vh;
    width: 100%;
    overflow: scroll;

    .gallery-container {
      white-space: nowrap;
      overflow: auto;
      height: 100%;
      padding: 0 15vw;

      img {
        height: 100%;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

}
