@import "variables";

::-webkit-scrollbar {
  display: none;
}


.gallery {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;

  }
  @include transition(0.24s);

  @media screen and (max-width: $mobile-break) {
    .gallery-container {
      padding: 20px;
      text-align: center;
    }
  }

  @media screen and (min-width: $mobile-break) {
    position: absolute;
    top: 15vh;
    height: 80vh;
    width: 100%;
    overflow: scroll;

    .gallery-container {
      white-space: nowrap;
      overflow: auto;
      height: 100%;
      padding: 0 15vw;
    }
  }

}
