@import "shared";

.image {
  .hide-img {
    display: none;
  }

  @media screen and (max-width: $mobile-break) {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 85vw;
    }

    .aspect {
      &--2-by-3 {
        height: $width * 3/2;
        width: $width;
      }

      &--3-by-2 {
        height: $width * 2/3;
        width: $width;
      }

      &--6-by-7 {
        height: $width * 7/6;
        width: $width;
      }

      &--7-by-6 {
        height: $width * 6/7;
        width: $width;
      }

      &--6-by-6 {
        height: $width;
        width: $width;
      }
    }
  }

  @media screen and (min-width: $mobile-break) {
    margin-right: 12px;
    height: 100%;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }

    img {
      height: 100%;
    }

    .aspect {
      &--2-by-3 {
        height: $height;
        width: $height * 2/3;
      }

      &--3-by-2 {
        height: $height;
        width: $height * 3/2;
      }

      &--6-by-7 {
        height: $height;
        width: $height * 6/7;
      }

      &--7-by-6 {
        height: $height;
        width: $height * 7/6;
      }

      &--6-by-6 {
        height: $height;
        width: $height;
      }
    }
  }

  .image-loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
