@import "shared";

.navbar-container {
  background: #fff;
  line-height: 20px;

  a, p {
    text-decoration: none;
    color: #333;
  }

  p {
    @include bodyFontStyles();

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }


  .navbar{
    h1 {
      color: #333;
      font-weight: normal;
      letter-spacing: 1px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .about-link {
      @include bodyFontStyles();
      letter-spacing: 1px;
    }

    ul {
      margin-top: 0;
      padding: 0;
      line-height: 16px;

      li {
        list-style-type: none;

        .active {
          color: #a8a8a8;
          cursor: default;
        }

        a {
          @include bodyFontStyles();
          letter-spacing: 1px;

          &:hover {
            color: #a8a8a8;
          }
        }
      }
    }

    .nav-dropdown {
      .children-container {

        li {
          margin-left: 10px;
        }

        display: none;
        &--show {
          display: block;

        }
      }
    }
  }
}

@media screen and (max-width: $mobile-break) {
  .navbar-container {
    padding: 20px;

    span {
      margin-left: 5px;
    }

    .about {
      margin-top: 30px;
      display: none;

      &--show {
        display: block;
      }

      .hide-about-btn__wrapper {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $mobile-break) {
  .navbar-container {
    background-color: transparent;
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    width: 290px;
    height: 322px;
    z-index: 1;
    opacity: 1;
    @include transition(0.18s);

    .fa-caret-down {
      display: none;
    }

    &--hide-nav {
      opacity: 0;
    }

    &--hide-nav-full {
      display: none;
    }

    .navbar-body {
      display: flex;
      flex-direction: row;
      height: 100%;

      .navbar {
        background-color: #fff;
        padding: 20px 40px;
        width: 100%;

        .about-link {
          position: absolute;
          bottom: 0;
          margin-bottom: 20px;
        }
      }

      .about {
        width: 50%;
        position: relative;
        background-color: #fff;
        padding: 90px 40px 20px 0;
        opacity: 0;
        display: none;
        @include transition(0.18s);

        &--show {
          display: block;
        }

        &--show-full {
          opacity: 1;
        }

        .hide-about-btn__wrapper {
          position: absolute;
          top: 0;
          right: 0;
          height: 12px;
          width: 12px;
          margin-top: 10px;
          margin-right: 14px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }

          .hide-about-btn {
            width: 12px;
            height: 2px;
            background-color: #333;
          }
        }
      }
    }

    &--show-about {
      width: 580px;

      .navbar-body {
        .navbar {
          width: 50%;
        }
      }
    }
  }
}

