@font-face (Futura, fonts/Futura);
@font-face {
  font-family: "Circular";
  src: url("../../fonts/Circular.otf") format("opentype"); }

.App {
  font-family: Circular, Futura, Helvetica;
  min-height: 100vh;
  min-width: 100vw; }
  .App .navbar {
    background: #fff;
    padding: 20px 40px;
    line-height: 20px; }
    .App .navbar h1 {
      color: #333;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 30px; }
    .App .navbar a {
      text-decoration: none;
      color: #333; }
    .App .navbar ul {
      padding: 0;
      line-height: 16px;
      letter-spacing: 1px; }
      .App .navbar ul li {
        list-style-type: none; }
        .App .navbar ul li .active {
          color: #a8a8a8;
          cursor: default; }
        .App .navbar ul li a {
          font-size: 12px;
          font-weight: 300; }
          .App .navbar ul li a:hover {
            color: #a8a8a8; }
  @media screen and (max-width: 768px) {
    .App .navbar {
      padding: 20px 40px; } }
  @media screen and (min-width: 768px) {
    .App .navbar {
      position: fixed;
      bottom: 10vh;
      left: 10vw;
      width: 220px;
      z-index: 1; } }
