@font-face (Futura, fonts/Futura);
@font-face {
  font-family: "Circular";
  src: url("../../fonts/Circular.otf") format("opentype"); }

.App {
  min-height: 100vh;
  min-width: 100vw;
  font-family: Circular, Futura, Helvetica; }

* {
  box-sizing: border-box; }
