@import url(~font-awesome/css/font-awesome.min.css);
.navbar-container {
  background: #fff;
  line-height: 20px; }
  .navbar-container a, .navbar-container p {
    text-decoration: none;
    color: #333; }
  .navbar-container p {
    font-size: 12px;
    font-weight: 300; }
    .navbar-container p:first-child {
      margin-top: 0; }
    .navbar-container p:last-child {
      margin-bottom: 0; }
  .navbar-container .navbar .about-link {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px; }

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 20px; }
    .navbar-container span {
      margin-left: 5px; }
    .navbar-container .about {
      margin-top: 30px;
      display: none; }
      .navbar-container .about--show {
        display: block; }
      .navbar-container .about .hide-about-btn__wrapper {
        display: none; } }

@media screen and (min-width: 768px) {
  .navbar-container {
    background-color: transparent;
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    width: 290px;
    height: 415px;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 0.18s ease-in-out;
    -moz-transition: opacity 0.18s ease-in-out;
    -ms-transition: opacity 0.18s ease-in-out;
    -o-transition: opacity 0.18s ease-in-out;
    transition: opacity 0.18s ease-in-out; }
    .navbar-container .fa-caret-down {
      display: none; }
    .navbar-container--hide-nav {
      opacity: 0; }
    .navbar-container--hide-nav-full {
      display: none; }
    .navbar-container .navbar-body {
      display: flex;
      flex-direction: row;
      height: 100%; }
      .navbar-container .navbar-body .navbar {
        background-color: #fff;
        padding: 20px 40px;
        width: 100%; }
        .navbar-container .navbar-body .navbar .about-link {
          position: absolute;
          bottom: 0;
          margin-bottom: 20px; }
          .navbar-container .navbar-body .navbar .about-link:hover {
            opacity: 0.5; }
      .navbar-container .navbar-body .about {
        width: 50%;
        position: relative;
        background-color: #fff;
        padding: 90px 40px 20px 0;
        opacity: 0;
        display: none;
        -webkit-transition: opacity 0.18s ease-in-out;
        -moz-transition: opacity 0.18s ease-in-out;
        -ms-transition: opacity 0.18s ease-in-out;
        -o-transition: opacity 0.18s ease-in-out;
        transition: opacity 0.18s ease-in-out; }
        .navbar-container .navbar-body .about--show {
          display: block; }
        .navbar-container .navbar-body .about--show-full {
          opacity: 1; }
        .navbar-container .navbar-body .about .hide-about-btn__wrapper {
          position: absolute;
          top: 0;
          right: 0;
          height: 12px;
          width: 12px;
          margin-top: 10px;
          margin-right: 14px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .navbar-container .navbar-body .about .hide-about-btn__wrapper:hover {
            cursor: pointer; }
            .navbar-container .navbar-body .about .hide-about-btn__wrapper:hover .hide-about-btn {
              opacity: 0.5; }
          .navbar-container .navbar-body .about .hide-about-btn__wrapper .hide-about-btn {
            width: 12px;
            height: 2px;
            background-color: #333; }
    .navbar-container--show-about {
      width: 580px; }
      .navbar-container--show-about .navbar-body .navbar {
        width: 50%; } }

::-webkit-scrollbar {
  display: none; }

.gallery .gallery-title {
  height: 4vh; }
  .gallery .gallery-title p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin: 0; }

@media screen and (max-width: 768px) {
  .gallery .gallery-container {
    padding: 20px;
    text-align: center; } }

@media screen and (min-width: 768px) {
  .gallery {
    position: absolute;
    top: 15vh;
    height: 80vh;
    width: 100%;
    overflow: scroll; }
    .gallery .gallery-container {
      white-space: nowrap;
      overflow: auto;
      height: 76vh;
      padding: 0 15vw; } }

.social {
  padding: 25px 40px; }
  @media screen and (max-width: 768px) {
    .social {
      text-align: center;
      padding-top: 0; } }
  @media screen and (min-width: 768px) {
    .social {
      text-align: right;
      position: absolute;
      top: 0;
      right: 0; } }
  .social ul {
    padding: 0; }
    .social ul:hover li a {
      opacity: 0.5;
      -webkit-transition: opacity 0.1s ease-in-out;
      -moz-transition: opacity 0.1s ease-in-out;
      -ms-transition: opacity 0.1s ease-in-out;
      -o-transition: opacity 0.1s ease-in-out;
      transition: opacity 0.1s ease-in-out; }
    .social ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px; }
      .social ul li:last-child {
        margin-right: 0; }
      .social ul li a {
        color: #333;
        -webkit-transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        -ms-transition: opacity 0.1s ease-in-out;
        -o-transition: opacity 0.1s ease-in-out;
        transition: opacity 0.1s ease-in-out; }
        .social ul li a:hover {
          opacity: 1;
          -webkit-transition: opacity 0.1s ease-in-out;
          -moz-transition: opacity 0.1s ease-in-out;
          -ms-transition: opacity 0.1s ease-in-out;
          -o-transition: opacity 0.1s ease-in-out;
          transition: opacity 0.1s ease-in-out; }

.main {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }
  .main-enter {
    opacity: 0; }
  .main-enter-active {
    opacity: 1; }
  .main-exit {
    opacity: 1; }
  .main-exit-active {
    opacity: 0; }

@font-face (Futura, fonts/Futura);
@font-face {
  font-family: "Circular";
  src: url("../../fonts/Circular.otf") format("opentype"); }

.App {
  min-height: 100vh;
  min-width: 100vw;
  font-family: Circular, Helvetica; }

* {
  box-sizing: border-box; }
