::-webkit-scrollbar {
  display: none; }

.gallery {
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  -ms-transition: opacity 0.24s ease-in-out;
  -o-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out; }
  .gallery-enter {
    opacity: 0; }
  .gallery-enter-active {
    opacity: 1; }
  .gallery-exit {
    opacity: 1; }
  .gallery-exit-active {
    opacity: 0; }
  @media screen and (max-width: 768px) {
    .gallery .gallery-container {
      padding: 20px;
      text-align: center; } }
  @media screen and (min-width: 768px) {
    .gallery {
      position: absolute;
      top: 15vh;
      height: 80vh;
      width: 100%;
      overflow: scroll; }
      .gallery .gallery-container {
        white-space: nowrap;
        overflow: auto;
        height: 100%;
        padding: 0 15vw; } }
