@media screen and (max-width: 768px) {
  .image {
    margin-bottom: 17px; }
    .image:last-child {
      margin-bottom: 0; }
    .image img {
      width: 85vw; }
    .image .aspect--2-by-3 {
      height: 127.5vw;
      width: 85vw; }
    .image .aspect--3-by-2 {
      height: 56.66667vw;
      width: 85vw; }
    .image .aspect--6-by-7 {
      height: 99.16667vw;
      width: 85vw; }
    .image .aspect--7-by-6 {
      height: 72.85714vw;
      width: 85vw; } }

@media screen and (min-width: 768px) {
  .image {
    margin-right: 12px;
    height: 100%;
    display: inline-block;
    vertical-align: top; }
    .image:last-child {
      margin-right: 0; }
    .image img {
      height: 100%; }
    .image .aspect--2-by-3 {
      height: 80vh;
      width: 53.33333vh; }
    .image .aspect--3-by-2 {
      height: 80vh;
      width: 120vh; }
    .image .aspect--6-by-7 {
      height: 80vh;
      width: 68.57143vh; }
    .image .aspect--7-by-6 {
      height: 80vh;
      width: 93.33333vh; } }

.image .image-loading {
  display: flex;
  align-items: center;
  justify-content: center; }
