.navbar-container {
  background: #fff;
  padding: 20px 40px;
  line-height: 20px; }
  .navbar-container a, .navbar-container p {
    text-decoration: none;
    color: #333; }
  .navbar-container p {
    font-size: 12px; }
    .navbar-container p:first-child {
      margin-top: 0; }
    .navbar-container p:last-child {
      margin-bottom: 0; }
  .navbar-container h1 {
    color: #333;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 30px; }
  .navbar-container .navbar .about-link {
    font-size: 12px;
    font-weight: 200; }
  .navbar-container .navbar ul {
    margin-top: 0;
    padding: 0;
    line-height: 16px;
    letter-spacing: 1px; }
    .navbar-container .navbar ul li {
      list-style-type: none; }
      .navbar-container .navbar ul li .active {
        color: #a8a8a8;
        cursor: default; }
      .navbar-container .navbar ul li a {
        font-size: 12px;
        font-weight: 300; }
        .navbar-container .navbar ul li a:hover {
          color: #a8a8a8; }

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 20px 40px; }
    .navbar-container span {
      margin-left: 5px; }
    .navbar-container .about {
      margin-top: 30px; }
      .navbar-container .about .hide-about-wrapper {
        display: none; } }

@media screen and (min-width: 768px) {
  .navbar-container {
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    width: 200px;
    z-index: 1; }
    .navbar-container .fa-caret-down {
      display: none; }
    .navbar-container--show-about {
      width: 600px; }
      .navbar-container--show-about .navbar-body {
        display: flex;
        flex-direction: row; }
        .navbar-container--show-about .navbar-body .navbar {
          box-sizing: border-box;
          width: 40%; }
        .navbar-container--show-about .navbar-body .about {
          box-sizing: border-box;
          width: 60%;
          position: relative; }
          .navbar-container--show-about .navbar-body .about .hide-about-wrapper {
            position: absolute;
            top: -81px;
            right: -24px;
            height: 12px;
            width: 12px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .navbar-container--show-about .navbar-body .about .hide-about-wrapper:hover {
              cursor: pointer; }
            .navbar-container--show-about .navbar-body .about .hide-about-wrapper .hide-about {
              width: 12px;
              height: 2px;
              background-color: #333; } }
