.social {
  padding: 25px 40px; }
  @media screen and (max-width: 768px) {
    .social {
      text-align: center;
      padding-top: 0; } }
  @media screen and (min-width: 768px) {
    .social {
      text-align: right;
      position: absolute;
      top: 0;
      right: 0; } }
  .social ul {
    padding: 0; }
    .social ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px; }
      .social ul li:last-child {
        margin-right: 0; }
      .social ul li a {
        color: #333; }
        .social ul li a:hover {
          color: #a8a8a8; }
